* {
    margin: 0;
    padding: 0;
}
main {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF9FB;
}
#logo {
    height: 60px;
    padding-left: 20px;
    padding-right: 200px;
    align-content: flex-start;
}
.menu {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #FFF9FB;
    margin: 0 !important;
}
nav a {
    text-decoration: none;
    color: #03A9F4;
    background-color: #FFF9FB;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 500;
}
nav a:hover {
    background-color: #03A9F4;
    color: white;
}
.selected:hover {
    color: #616161;
    background-color: #FFF9FB;
}
.selected {
    color: #2378a0
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.hero {
    padding: 0;
    margin-top: 80px;
}
.hero img {
    max-width: 100vw;
    display: block;
    border: none !important;
    padding: 0 !important;
}
#action {
    height: 90px;
    background-color: #FFF9FB;
    line-height: 28px;
    font-size: 1.2em;
    
}
#action a {
    text-decoration: none;
    color: #3ABEFF;
}
#action a:hover {
    text-decoration: underline;
}
.button {
	text-decoration: none;
    background-color: #03A9F4;
    color: white !important;
    padding: 7px 12px;
    margin-top: 50px;
    border-radius: 6px;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    top: 50%;
}
.button:hover {
    background-color: #3ABEFF;
    color: white;
    text-decoration: none !important;
}
h1 {
    background-color: #FFF9FB;
    color: #6F6F6F;
    font-weight: 300;
    padding: 30px;
    text-align: center;
}
#recomandate p {
    margin-bottom: 30px;
}
.row {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  line-height: 20px;
  justify-content: center;
  align-items: flex-start;
  background-color: #FFF9FB;
}
.column-2 {
  flex: 50%;
  max-width: 50%;
  height: 100%;
}
.column-4 {
    flex: 25%;
    max-width: 25%;
}
section img {
    max-width: 80%;
    border-radius: 5px;
    border: 1px solid #81D4FA;
}
section img:hover {
    background-color: #81D4FA;
}
section img, p {
    padding: 10px;
}
.footer {
    background: #616161;
    padding: 15px;
    text-align: center;
    color: white;
}
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        height: auto;
        position: relative;
    }
    #logo {
        padding: 0;
        margin-bottom: 20px;
    }   
}
@media (max-width: 800px) {
    .button {
        clear: both;
        margin: 0 auto;
    }
}
@media (max-width: 800px) {
    .hero {
        margin-top: 0;
    }
}
@media (max-width: 800px) {
  .column-4 {
    flex: 50%;
    max-width: 50%;
  }
  h1 {
    text-align: center;
    padding: 10px;
  }
}
@media (max-width: 800px) {
  .column-2 {
    flex: 100%;
    max-width: 100%;
  }
  #action {
    padding: 20px;
    height: auto;
  }
  #second-column {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 600px) {
  .column-4 {
    flex: 100%;
    max-width: 100%;
  }
}